:root {
  --blue-0: #edf2ff;
  --blue-1: #dbe4ff;
  --blue-2: #bac8ff;
  --blue-3: #91a7ff;
  --blue-4: #748ffc;
  --blue-5: #5c7cfa;
  --blue-6: #4c6ef5;
  --blue-7: #4263eb;
  --blue-8: #3b5bdb;
  --blue-9: #364fc7;
  --blue-10: #2f44ad;
  --blue-11: #283a94;
  --blue-12: #21307a;

  --yellow-0: #fff9db;
  --yellow-1: #fff3bf;
  --yellow-2: #ffec99;
  --yellow-3: #ffe066;
  --yellow-4: #ffd43b;
  --yellow-5: #fcc419;
  --yellow-6: #fab005;
  --yellow-7: #f59f00;
  --yellow-8: #f08c00;
  --yellow-9: #e67700;
  --yellow-10: #b35c00;
  --yellow-11: #804200;
  --yellow-12: #663500;

  --green-0: #ebfbee;
  --green-1: #d3f9d8;
  --green-2: #b2f2bb;
  --green-3: #8ce99a;
  --green-4: #69db7c;
  --green-5: #51cf66;
  --green-6: #40c057;
  --green-7: #37b24d;
  --green-8: #2f9e44;
  --green-9: #2b8a3e;
  --green-10: #237032;
  --green-11: #1b5727;
  --green-12: #133d1b;

  --neutral-0: #f8f9fa;
  --neutral-1: #f1f3f5;
  --neutral-2: #e9ecef;
  --neutral-3: #dee2e6;
  --neutral-4: #ced4da;
  --neutral-5: #adb5bd;
  --neutral-6: #868e96;
  --neutral-7: #495057;
  --neutral-8: #343a40;
  --neutral-9: #212529;
  --neutral-10: #16191d;
  --neutral-11: #0d0f12;
  --neutral-12: #030507;
}
