@use "reset.scss";
@use "typography.scss";
@use "colors.scss";

html {
  scrollbar-gutter: stable;
}

body {
  font-family: "Inter", serif;
  background-color: var(--neutral-10);
  color: var(--neutral-1);
  font-size: var(--step-0);
}

main,
nav {
  width: min(100% - 3rem, 1366px);
  margin-inline: auto;
}

#__nuxt {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}
